<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>

    {% include top_libs.html %}
</head>

<body>
    {% include nav.html %}

    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10 offset-1">
            <!-- The beautiful title -->
            <p></p>
            <div class="text-center">
                {% assign thesize = page.title | size | minus: 1 %}
                <h1>{{ page.title | slice: 0, thesize }}<span class="vim-caret">{{ page.title | slice: -1 }}</span></h1>
                <div class="lead mb-3 text-mono">{{ page.subtitle }}</div>
                <span class="ht-tm-element hal-9000 d-block mx-auto mb-3 mt-3"></span>
            </div>

            {{ content}}
        </div>
        <div class="col-md-1"></div>
    </div>

    {% include simple-footer.html %}

    {% include bottom_libs.html %}
</body>

</html>
